accumulate==1.0.0
aiohttp==3.7.4.post0
alembic==1.6.5
alpha-vantage==2.3.1
alphavantage==0.0.11
altgraph==0.17
appdirs==1.4.4
asn1crypto==1.4.0
async-timeout==3.0.1
attrs==21.2.0
azure-common==1.1.27
azure-core==1.19.0
azure-storage-blob==12.9.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.9.3
bokeh==2.4.0
boto3==1.18.42
botocore==1.21.42
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.2
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
chart-studio==1.1.0
click==8.0.1
cliff==3.8.0
cloudpickle==2.0.0
cmaes==0.8.2
cmd2==2.1.1
colorama==0.4.4
colorlog==5.0.1
configparser==5.1.0
cryptography==3.4.8
cssmin==0.2.0
cssselect==1.1.0
cssutils==2.3.0
cycler==0.10.0
Cython==0.29.23
dash==2.0.0
dash-auth==1.3.2
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-enterprise-auth==0.0.5
dash-html-components==2.0.0
dash-table==5.0.0
dask==2021.9.0
ddtrace==0.53.3
distlib==0.3.3
distributed==2021.9.0
dnspython==1.16.0
docopt==0.6.2
email-to==0.1.0
email-validator==1.1.2
et-xmlfile==1.1.0
fake-useragent==0.1.11
filelock==3.3.2
Flask==2.0.1
Flask-Assets==2.0
Flask-Caching==1.10.1
Flask-Compress==1.10.1
Flask-Login==0.5.0
Flask-SeaSurf==0.3.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
foil==0.2.7
fsspec==2021.8.1
future==0.18.2
greenlet==1.1.0
HeapDict==1.0.1
idna==2.10
importlib-metadata==4.7.1
inflection==0.5.1
iso8601==0.1.14
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.1.0
kiwisolver==1.3.1
lists==1.3.0
locket==0.2.1
lxml==4.6.3
mailjet-rest==1.3.4
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
MechanicalSoup==1.1.0
mongo==0.2.0
more-itertools==8.8.0
msgpack==1.0.2
msrest==0.6.21
multidict==5.1.0
numpy==1.21.2
oauthlib==3.1.1
openpyxl==3.0.7
option-price==0.2.0
optuna==2.8.0
oscrypto==1.2.1
packaging==20.9
pandas==1.2.4
params==0.9.0
parse==1.19.0
partd==1.2.0
pbr==5.6.0
pefile==2021.5.24
Pillow==8.2.0
pipenv==2021.11.9
pipreqs==0.4.10
platformdirs==2.4.0
plotly==5.3.1
polygon-api-client==0.1.11
predictor==0.1.2
premailer==3.9.0
prettytable==2.1.0
protobuf==3.18.0
psutil==5.8.0
pycparser==2.20
pycryptodomex==3.11.0
pyee==8.2.2
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
PyJWT==2.3.0
pymongo==3.11.4
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyppeteer==0.2.6
pyquery==1.4.3
pyreadline3==3.3
PySide2==5.15.2
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
Quandl==3.6.1
requests==2.25.1
requests-html==0.10.0
requests-oauthlib==1.3.0
retrying==1.3.3
s3transfer==0.5.0
scikit-learn==1.0
scipy==1.6.3
shiboken2==5.15.2
shortuuid==1.0.7
six==1.16.0
sklearn==0.0
snowflake==0.0.3
snowflake-connector-python==2.6.2
snowflake-sqlalchemy==1.3.2
sortedcontainers==2.4.0
soupsieve==2.2.1
SQLAlchemy==1.4.20
SQLAlchemy-Utils==0.37.9
stevedore==3.3.0
sticky==0.3
subject==0.1.0
tblib==1.7.0
tenacity==8.0.1
threadpoolctl==3.0.0
ticker==0.13
toolz==0.11.1
tornado==6.1
tqdm==4.61.1
trail==0.1.0
twitter-scraper==0.4.4
typing-extensions==3.10.0.0
tzlocal==2.1
ua-parser==0.10.0
urllib3==1.26.5
validate-email==1.3
virtualenv==20.10.0
virtualenv-clone==0.5.7
w3lib==1.22.0
wcwidth==0.2.5
webassets==2.0
websocket-client==1.1.0
websockets==9.1
Werkzeug==2.0.1
WTForms==2.3.3
xlrd==2.0.1
XlsxWriter==1.4.4
yarg==0.1.9
yarl==1.6.3
zict==2.0.0
zipp==3.5.0
